* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #090e22;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  box-sizing: border-box;
}



.container {
  min-width: 400px;
  min-height: 400px;
  background-color: #1d1e33;
  padding: 2rem;
}


#calc-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
  color: #ccc;
}

.form-control input {
  padding: 1rem 0.5rem;
}

.form-control select {
  padding: 1rem 0.5rem;
}

.action-control {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}



#calc-btn {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #f44236;
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
  flex: 1;
}

#calc-btn:hover {
  opacity: 1;
}

#res {
  padding-top: 15px;
  font-size: 18px;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffc451;
}

.navbar a {
  text-decoration: none;
}

.navbar-mobile {
  position: fixed;

}

.navbar {
  text-align: center;
  padding-left: 90px;
  padding-top: 19px;
  transform: translate(-50%, -200px);
}
